<div class="fixed top-0 right-0 bg-black text-white p-8 z-10">
    <div class="flex flex-col 2xs:gap-4 sm:gap-8 justify-end">
        <img class="cursor-pointer" routerLink="/" src="../../assets/home.svg" height="20" width="20" alt="HomeIcon" />
        <img class="cursor-pointer" routerLink="/gallery" src="../../assets/gallery.svg" height="20" width="20" alt="HomeIcon" />
        <img class="cursor-pointer" routerLink="/aboutme" src="../../assets/aboutme.svg" height="20" width="20" alt="HomeIcon" />
    </div>
</div>
