<div class="wrapperContainer relative h-full bg-dukeOrange max-w-[1280px] m-auto overflow-hidden">
    <div
        class="imageDiv h-full flex xs:flex-row 2xs:flex-col items-center text-justify justify-center 2xs:gap-4 xs:p-2 2xs:p-4">
        <img src="../../assets/face.png" alt="Face" loading="eager" width="75" height="75" />
        <ul>
            <li><u>Software Engineer</u> with knowledge on Angular, React, Next and lil Azure DevOps</li>
            <li><u>Photographer</u>, who walks that extra mile for a perfect angle, who spends that extra time for a 
                perfect shot, who waits for a perfect lighting</li>
            <li ><u>Gamer</u>, exposure on broken <strong>Warzone</strong>, <strong>Apex Legends</strong>, lil <strong>Valorant</strong></li>
        </ul>
    </div>
</div>