<div class="bg-dukeOrange py-4 px-2 h-[100vh] overflow-y-auto overflow-x-hidden galleryMain">
    <ul>
        <li *ngFor="let item of portfolioData" style="border: 4px solid darkgrey;" (click)="openDialog(item)">
            <img *ngIf="!item.image && !item.webp" src="../../assets/spinner.svg" alt="Placeholder" loading="eager">
            <picture *ngIf="item.image || item.webp">
                <source [srcset]="item.webp" type="image/webp">
                <source [srcset]="item.image" type="image/jpeg"> 
                <img [src]="item.image" alt="Alt Text!">
              </picture>
            <div class="detailDiv p-2">
                <div class="text-sm">{{ item.title }}</div>
                <div class="text-xs text-justify">{{ item.description }}</div>
            </div>
        </li>
        <!--  Adding an empty <li> here so the final photo doesn't stretch like crazy. Try removing it and see what happens!  -->
        <li></li>
    </ul>
</div>

<p-dialog [(visible)]="display" (onHide)="handleHideDialog()" [modal]="true">
    <ng-template pTemplate="header">
        <span class="2xs:text-2xl 2xs:font-bold">{{ currentData.title }}</span>
    </ng-template>
    <div>
        <img *ngIf="currentData.webp" [src]="currentData.webp" loading="eager" />
        <img *ngIf="currentData.image" [src]="currentData.image" loading="lazy" />
    </div>
    <br />
    <div class="flex flex-col gap-1">
        <div class="2xs:text-sm sm:text-base lg:text-lg"><strong>{{ currentData.description }}</strong></div>
        <div class="flex items-center gap-1">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
                <path fill-rule="evenodd"
                    d="M5.05 4.05a7 7 0 119.9 9.9L10 18.9l-4.95-4.95a7 7 0 010-9.9zM10 11a2 2 0 100-4 2 2 0 000 4z"
                    clip-rule="evenodd" />
            </svg>
            <span class="2xs:text-xs sm:text-xs lg:text-base">
                <a [href]="currentData.locationUrl" target="_blank">{{ currentData.location }}</a>
            </span>
        </div>
    </div>
</p-dialog>
