<div class="wrapperContainer relative h-full bg-dukeOrange max-w-[1280px] m-auto overflow-hidden">
    <div
        class="imageDiv h-full flex md:flex-row 2xs:flex-col items-center 2xs:justify-center lg:justify-around md:justify-start xs:gap-4 2xs:gap-8 xs:p-2 2xs:p-4">
        <div
            class="flex flex-col xs:items-center 2xs:items-baseline md:items-baseline justify-center md:gap-4 xxs:gap-2 2xs:gap-4">
            <div class="lg:text-3xl md:text-2xl 2xs:text-3xl text-dukeBlack" style="font-family: 'Mr Dafoe', cursive;">
                Nikhil Vikraman</div>
            <div class="lg:text-5xl md:text-4xl 2xs:text-5xl text-dukeBlack md:w-1/2 xs:w-full 2xs:w-1/2"
                style="font-family: 'Black Ops One', cursive;">NIKHIL VIKRAMAN</div>
            <div class="text-dukeBlack lg:text-base md:text-sm 2xs:text-base"
                style="font-family: 'Raleway', sans-serif;">Software Engineer | Photographer | Gamer</div>
            <div class="text-dukeBlack lg:text-base md:text-sm 2xs:text-base"
                style="font-family: 'Raleway', sans-serif;">
                Land of <i>Ananthapadmanaabhan</i>,<br />
                God's Own Country,<br />
                Land of Unity in Diversity.
            </div>
        </div>
        <img src="../../assets/homeimage.jpg" alt="HomeImage"
            style="filter: drop-shadow(2px 4px 6px black) grayscale(1);" width="450px" height="500px" />
    </div>
</div>
